<h1>Routines for <%= current_user.name %></h1>
<a href="/users">Back to Home Page</a><br>
<br>

<% @routines.each do |routine| %>
  <a href="/routines/:id"><%= routine.name %></a>
<% end %>

<br>



<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
