<h1>New Routine For <%= current_user.name %>!</h1>

<form action="/routines" method="POST">
  Name: <input type="text" name="name" placeholder="Routine Name"><br>
  How Many Times Per Week? <input type="text" name="times_per_week" placeholder="Times per Week"><br>
</form>
