<a href="/users">Home</a> > <a href="/routines">Routines</a> > New Routine
<h1>New Routine For <%= current_user.name %>!</h1>

<form action="/routines" method="POST">
  Name: <input type="text" name="name" placeholder="Routine Name"><br>
  How Many Times Per Week? <input type="text" name="times_per_week" placeholder="Times per Week"><br>

  <strong>Choose from a list of exercises:</strong> <br>

  <% @exercises.each do |exercise| %>
    <input type="checkbox"><%= exercise.name %>
    </input><br>
  <% end %>

  <br>

  <strong>... or create a new Exercise!</strong><br>
  Name: <input type="text" name="exercises[][name]"><br>
  Sets: <input type="text" name="exercises[][sets]"><br>
  Reps: <input type="text" name="exercises[][reps]"><br>
  <input type="submit">
</form>
