<h1>Welcome, <%= current_user.name %>!</h1><br>

<a href="/routines">View Routines</a>
<a href="/routines/new">Create Routine</a>
<a href="/exercises/new">Create Exercise</a><br>
<br>
<a href="/logout">Logout</a>
